<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.buka.edu.dao.EmployeeMapper">
  <resultMap id="BaseResultMap" type="com.buka.edu.bean.Employee">
    <id column="u_id" jdbcType="INTEGER" property="uId" />
    <result column="u_name" jdbcType="VARCHAR" property="uName" />
    <result column="u_birday" jdbcType="VARCHAR" property="uBirday" />
    <result column="u_money" jdbcType="DOUBLE" property="uMoney" />
    <result column="u_did" jdbcType="INTEGER" property="uDid" />
    <result column="u_password" jdbcType="VARCHAR" property="uPassword" />
  </resultMap>

  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    u_id, u_name, u_birday, u_money, u_did, u_password
  </sql>


  <select id="selectByNameAndPw"  resultMap="BaseResultMap">


  select * from employee where u_name=#{uName} and u_password=#{uPassword}

  </select>






  <insert id="insert" parameterType="com.buka.edu.bean.Employee">
    insert into employee (u_id, u_name, u_birday, 
      u_money, u_did, u_password
      )
    values (#{uId,jdbcType=INTEGER}, #{uName,jdbcType=VARCHAR}, #{uBirday,jdbcType=VARCHAR}, 
      #{uMoney,jdbcType=DOUBLE}, #{uDid,jdbcType=INTEGER}, #{uPassword,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.buka.edu.bean.Employee" useGeneratedKeys="true" keyColumn="u_id" keyProperty="uId">
    insert into employee
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="uId != null">
        u_id,
      </if>
      <if test="uName != null">
        u_name,
      </if>
      <if test="uBirday != null">
        u_birday,
      </if>
      <if test="uMoney != null">
        u_money,
      </if>
      <if test="uDid != null">
        u_did,
      </if>
      <if test="uPassword != null">
        u_password,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="uId != null">
        #{uId,jdbcType=INTEGER},
      </if>
      <if test="uName != null">
        #{uName,jdbcType=VARCHAR},
      </if>
      <if test="uBirday != null">
        #{uBirday,jdbcType=VARCHAR},
      </if>
      <if test="uMoney != null">
        #{uMoney,jdbcType=DOUBLE},
      </if>
      <if test="uDid != null">
        #{uDid,jdbcType=INTEGER},
      </if>
      <if test="uPassword != null">
        #{uPassword,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>

</mapper>